In [ ]:
tup = ("apple","banana","cherry","apple","melon","mango")
l = list(tup)
l[1] = "kkk"
tup = tuple(l)
tup

In [ ]:
tup1 = ("1111",)
tup = tup+tup1
tup

In [ ]:
tup2 = ("rajan",)
tup = tup2+tup
tup

In [ ]:
tup3 = ("rai",)
tup = tup3+tup
tup

In [ ]:
l1 = list(tup)
l1[0] = "data_science"
tup = tuple(l1)
print(tup)

In [ ]:
## python loop tuple:
#you can loop through the tuple items by using a for loop oterate through the items and print the values:

this_tuple = ("apple","banana","cherry")
for x in this_tuple:
    print(x)

In [ ]:
tuple1 = ("ford","volkswagen","toyota","tata","mahindra","maruti_suzuki","skoda")
for x in tuple1:
    print(x)

In [ ]:
# loop through the index numbers
this_tuple = ("apple","banana","cherry")
for i in range(len(this_tuple)):
    print(this_tuple[i])

In [ ]:
tuple2 = ("venue","creta","brezza","compas","harrier","safari","scorpion","thar","jimmny","grand_vitara")
for i in range(len(tuple2)):
    print(tuple2[i])

In [ ]:
## join 2 tuple
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

In [ ]:
fruits = ("apple","orange","mango","gavava","cherry")
mytuple = fruits*2
print(mytuple)

In [ ]:
## count function 
t = (1,6,3,5,2,7,5,5)
x = t.count(5)
x

In [ ]:
x = t.index(5)
x

In [ ]:
tuple2 = (7,5,6,8,9,3,2,5,4,6,4,7,8,9)
t = tuple2.count(4)
print(t)

In [ ]:
tuple2.index(6)

In [ ]:
tuple2.count(4)

In [ ]:
## reverse and swap used to create  a new tuple

tuple1 = (11,22,33,44,55,66)
tuple_new = tuple1.index(44)
tuple_new

In [ ]:
tuple1[3]

In [ ]:
tuple1[4]

In [ ]:
new_tuple = (44,55)

In [ ]:
tuple1  = (11,22,33,44,55,66)
reverse = tuple1[::-1]

In [ ]:
reverse

In [ ]:
tuple1  = (11,22,33,44,55,66)
swap = tuple1[2]

In [ ]:
l1 = list(tuple1)
l1[4] = 43
tup = tuple(l1)
print(tup)

In [ ]:
##1 what is the output if the following snippet of code
t1 = 4,5,6
print(type(t1))

In [ ]:
t1 = (1,2,3,4,5,6,7,8)
print(t1)
print(t1*2)
print(t1+t1)
print(len(t1)*2)

In [ ]:
t1 = (1,2,3,4,5,6,7,8)
print(t1[0])
print(t1[-1])
print(t1[2+3])
print(t1[4-1])
print(t1[7%2])

In [ ]:
## sets are used to store multiple items in a single variable
## set is one of 4 built in data type in python used to store collection of data
## a set is collection which is unordered , unchanngeable*  and unindexed

## unordered mean that theitems in a set do not have a defined order.
# set items can appear in different order every time you use them and cannot be reffered to by index or key.

In [ ]:
thisset = {"apple","banana","cherry","apple"}
print(thisset)

In [ ]:
s = {1,2,3,4,"rajan",True}
print(s)

In [ ]:
s = {1,2,3,4,"apple","cherry",True,False}
print(s)

In [ ]:
## using  for loop function
s = {1,2,3,4,"apple","cherry",True,False}
for i in s:
    print(i)

In [ ]:
s = {"ram","shyam","hari","govina","narayan","rudra"}
print("ram" in s)

In [ ]:
s = {"ram","shyam","hari","govina","narayan","rudra"}
print("ram1" in s)

In [ ]:
## using update function

s = {1,2,3,4,5,"shyam","ram","gobind" , 12.6}
s1 = {"bharat","shatrudhan","hari","narayan","rudra"}
s.update(s1)
print(s)

In [ ]:
s2 = {12,45 , 43.12  , 1.01  , "rajan","vikramaditya","samudragupta","vigyan"}
s = {1,2,3,4,5,"shyam","ram","gobind" , 12.6}
s.update(s2)
print(s)

In [ ]:
s.remove("vigyan")
print(s)

In [ ]:
## pop function is used to remove element from the set randomly

s.pop()
print(s)

In [ ]:
s.clear()
s

In [ ]:
## union() is the function used to unite the two sets:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

In [ ]:
## the update() method insert the items in set2 into set1:
set_1 = {"a","b","c"}
set_2 = {1,2,3}
set_3 = set_1.update(set_2)
print(set_1)

In [ ]:
## intersection_update(): keep the items that exist in bot setx and set y:
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
x.intersection_update(y)
print(x)

In [ ]:
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
x.intersection_update(y)
print(x)

In [ ]:
# symmentric_difference_update() it is used to keep all the elements but not duplicates.
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

In [ ]:
s = {"a","b","c","d"}
s1 = {"a","p","q","r"}
s.symmetric_difference_update(s1)
print(s)

In [ ]:
s = {"a","b","c","d"}
s1 = {"a","p","q","r"}
s.symmetric_difference_update(s1)
print(s)

In [ ]:
s = {"a","b","c","d"}
s1 = {"a","p","q","r"}
s.intersection(s1)
print(s)

In [ ]:
a = {5,4}
b = {1,2,4,5}
a<b

In [ ]:
a = {5,6,7,8}
print(len(a))
print(min(a))
a.remove(5)

In [ ]:
## what will be the output of the following python code

a = {4,5,6}
b = {2,8,6}
a-b

In [ ]:
a = {4,5,6}
b = {2,8,6}
b-a

In [ ]:
a = {3,4,{7,5}}
print(a[2][0])

##erroe subset aren't allowed

In [ ]:
## is a subset of b
a = {4,5}
b = {1,2,3,4,5}
a.issubset(b)
b.issubset(a)

In [ ]:
a = {4,5,6,7,8}
b = {1,4,5,6}
a.issubset(b)
b.issubset(a)

In [ ]:
## Dictionary used to store data values in key:value pairs.
# a dictionary is a collection which is ordered , changeable and do not allow duplicates
# dictionary are written with curly brackets

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964}
print(thisdict)

In [ ]:
print(thisdict["brand"])

In [ ]:
print(thisdict["model"])

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964 , "year":2023}
print(thisdict)

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964, "year1":2023}
print(thisdict)

In [ ]:
thisdict.keys()

In [ ]:
thisdict.values()

In [ ]:
thisdict.items()

In [ ]:
thisdict["color"] = "pink"
print(thisdict)

In [ ]:
thisdict["segement"] = "SUV"
print(thisdict)

In [ ]:
thisdict.update({"year":2022})
print(thisdict)

In [ ]:
thisdict.pop("year1")
print(thisdict)

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964, "year1":2023}

for i in thisdict:
    print(i)

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964, "year1":2023}

for i in thisdict.items():
    print(i)

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964, "year1":2023}
for i in thisdict.values():
    print(i)

In [ ]:
new_dict = thisdict.copy()
new_dict

In [ ]:
my_family = {"child1":{"name":"ram","age":18},
            "child2":{"name":"shyam" , "age":27},
            "child3":{"name":"sita","age":19}
            }
print(my_family)

In [ ]:
d = {"john":40,"peter":45}
print(d["susan"])

In [ ]:
a = {"a":1,"b":2,"c":3,"d":4}
del a

In [ ]:
test = {1:"a",2:"b",3:"c"}
test = {}
print(len(test))

In [ ]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 56
numbers[3] = 7
letters[4] = 'B'
comb["Numbers"] = numbers
comb["letters"] = letters
print(comb)

In [ ]:
## usinf def function

def display():
    print("this is Rajan")
display()

In [ ]:
def add():
    print(12+13)
add()

In [ ]:
def add(a,b):
    sum = a+b
    return sum

In [ ]:
add(12,16)

In [ ]:
def add():
    print(16+19)
add()

In [ ]:
def add():
    print(128+1829)
add()

In [ ]:
def product():
    print(12*17)
product()

In [ ]:
def add():
    a = input("Enter a number1")
    b = input("Enter a number2")
    print(a+b)
    
add()

In [ ]:
def si(p,r,t):
    ans = (p*r*t)/(100)
    print(ans)

a = int(input("Enter  a p amount"))
b = int(input("Enter a r amount"))
c = int(input("Enter a t period"))

si(a,b,c)

In [8]:
def add(a,b,c):
    sum = a+b+c
    return sum

a = int(input("enter number 1"))
b = int(input("enter number 2"))
c = int(input("enter number 3"))

add(a,b,c)

enter number 1 45
enter number 287
enter number 389

221

In [10]:
## lambda function

x = lambda a,b :a+b
print(x(12,45))

57

In [11]:
x = lambda a,b :a*b
print(x(34,56))

1904

In [12]:
x = lambda a:a+10
print(x(10))

20